@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Work Sans", sans-serif;
}

/* shared styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 80px;
}

.display-flex {
    display: flex;
}

.bg-yellow {
    background: rgba(255, 144, 14, 0.1);
}

.text-dark1 {
    color: rgb(66, 66, 66);
}

.btn-primary {
    padding: 20px 24px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    border: 0;
    background: rgb(255, 144, 14);
    color: white;
    margin-top: 32px;
}

/* navbar styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    font-size: 2.5rem;
}

.nav-links {
    list-style: none;
    font-size: 18px;
}

.nav-links>li>a {
    text-decoration: none;
    margin-right: 30px;

}


/* banner styles */
.banner,
.navbar {
    max-width: 1140px;
    margin: 0 auto;
}

.banner {
    margin-top: 110px;
}

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-des {
    margin-top: 30px;
}

.banner-img {
    width: 100%;
    margin-bottom: 45px;
}

/* features and teams styles */
.teams {
    gap: 5rem;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features {
    max-width: 537px;
}

.features-title {
    margin-bottom: 1.5rem;
    font-size: 45px;
    font-weight: 700;
}

.quick-list {
    font-weight: 500;
    color: gray;
}

.features-special-text {
    color: rgb(255, 144, 14);
}

.features-des {
    margin-bottom: 2rem;
}

/* enjoy styles*/
.enjoy-container {
    display: flex;
    align-items: center;
    gap: 90px;
}

.enjoy-content-title {
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 20px;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.enjoy-content-des {
    color: rgb(114, 114, 114);
    margin-bottom: 60px;
}

.enjoy {
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

.enjoy-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.enjoy-des {
    color: rgb(114, 114, 114);
}

.enjoy-img-container {
    position: relative;
}

.extra-card {
    position: absolute;
    left: -40px;
    bottom: -30px;
}

/* fact styles */
.fact-div {
    max-width: 542px;
    margin-bottom: 70px;
}

.fact-container-title {
    color: rgb(19, 19, 19);
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.fact-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 120px;
}

.fact {
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    padding: 45px 35px;
    text-align: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin: 10px;
}

.fact-name {
    color: rgb(114, 114, 114);
    font-size: 20px;
    font-weight: 600;
}

/* sponsors styles */
.sponsors {
    margin-bottom: 80px;
}

.sponsors-content {
    max-width: 542px;
    margin: 0 auto;
    text-align: center;
}

.sponsors-title {
    font-size: 2.8rem;
    margin-bottom: 24px;
    font-weight: 700;
}

.sponsors-des {
    color: rgb(114, 114, 114);
    margin-bottom: 50px;
}

.sponsors-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 150px;
}

.sponsors-images img {
    filter: grayscale(100%);
}

.footer-container {
    border-radius: 8px;
    background: rgb(255, 244, 231);
}

.footer-des {
    padding: 40px 0;
    text-align: center;
}



/* responsive small device */
@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        gap: 20px;
    }

    .teams {
        flex-direction: column;
        margin: 0 20px;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30px;
    }

    .team-img-container img {
        width: 100%;
    }

    .enjoy-container {
        flex-direction: column;
        margin: 0 20px;
    }

    .enjoy-img {
        width: 100%;
    }

    .fact-div {
        margin: 20px;
    }

    .fact-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: 0 20px;
    }

    .sponsors-images {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

/* responsive medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .team-img-container img {
        width: 100%;
    }

    /* enjoy section */
    .enjoy-container {
        flex-direction: column;
        margin: 0 20px;
    }

    .enjoy-img {
        width: 100%;
    }

    .fact-div {
        margin: 20px;
    }

    .fact-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: 0 20px;
    }
    .sponsors-images {
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 30px;
    }
}